In [1]:
import pandas as pd
import os
import requests

file_name = 'movies.csv'
document_url = 'https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv'  # in general could be inputted by user like 'url = input('Enter doc url')'

if os.path.exists(file_name):
    pass
else:
    response = requests.get(document_url)
    if response.status_code == 200:
        with open(file_name, 'wb') as f:
            f.write(response.content)
    else:
        print(f'Failed to download the document. Status code: {response.status_code}')

movies = pd.read_table('movies.csv', sep=",", encoding="utf8", engine='python')

movies.drop_duplicates(inplace = True)

In [2]:
df_movie = pd.read_csv('movies.csv')
print(df_movie.head()) 
print(df_movie.dtypes)
print(df_movie.describe())
print(df_movie.info())
'''в таблиці є такі дані: назва фільму; жанр; студія, яка випустила фільм; оцінка глядачів у відсотках; чистий дохід; 
оцінка критиків у відсотках, загальні збори по фільму в доларах; рік випуску'''

                                 Film    Genre            Lead Studio  \
0          Zack and Miri Make a Porno  Romance  The Weinstein Company
1                     Youth in Revolt   Comedy  The Weinstein Company
2  You Will Meet a Tall Dark Stranger   Comedy            Independent
3                        When in Rome   Comedy                 Disney
4               What Happens in Vegas   Comedy                    Fox

   Audience score %  Profitability  Rotten Tomatoes % Worldwide Gross  Year
0                70       1.747542                 64         $41.94   2008
1                52       1.090000                 68         $19.62   2010
2                35       1.211818                 43         $26.66   2010
3                44       0.000000                 15         $43.04   2010
4                72       6.267647                 28        $219.37   2008
Film                  object
Genre                 object
Lead Studio           object
Audience score %       int64
Profitability        float64
Rotten Tomatoes %      int64
Worldwide Gross       object
Year                   int64
dtype: object
       Audience score %  Profitability  Rotten Tomatoes %         Year
count         77.000000      77.000000          77.000000    77.000000
mean          63.727273       4.599483          46.701299  2009.077922
std           13.657113       8.031990          26.095001     1.354974
min           35.000000       0.000000           3.000000  2007.000000
25%           52.000000       1.751351          26.000000  2008.000000
50%           64.000000       2.642353          45.000000  2009.000000
75%           76.000000       5.103117          64.000000  2010.000000
max           89.000000      66.934000          96.000000  2011.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               77 non-null     object
 1   Genre              77 non-null     object
 2   Lead Studio        77 non-null     object
 3   Audience score %   77 non-null     int64
 4   Profitability      77 non-null     float64
 5   Rotten Tomatoes %  77 non-null     int64
 6   Worldwide Gross    77 non-null     object
 7   Year               77 non-null     int64
dtypes: float64(1), int64(3), object(4)
memory usage: 4.9+ KB
None

In [9]:
total_movies = df_movie.shape[0]
print(f'Всього фільмів у наборі даних: {total_movies}')

Всього фільмів у наборі даних: 77

In [11]:
# 4. Скільки фільмів міститься у наборі даних за кожний рік?
movies_by_year = df_movie.groupby('Year').count()
print(movies_by_year)

      Film  Genre  Lead Studio  Audience score %  Profitability  \
Year
2007    11     11           11                11             11
2008    20     20           20                20             20
2009    12     12           12                12             12
2010    20     20           20                20             20
2011    14     14           14                14             14

      Rotten Tomatoes %  Worldwide Gross
Year
2007                 11               11
2008                 20               20
2009                 12               12
2010                 20               20
2011                 14               14

In [14]:
# 5. Покажіть детальну інформацію про найменш і найприбутковіші фільми в наборі 
most_profitable = df_movie['Profitability'].max()
min_profitable = df_movie['Profitability'].min()
print(df_movie.loc[df_movie['Profitability'].isin([most_profitable])]) 
print(df_movie.loc[df_movie['Profitability'].isin([min_profitable])])

         Film  Genre  Lead Studio  Audience score %  Profitability  \
68  Fireproof  Drama  Independent                51         66.934

    Rotten Tomatoes % Worldwide Gross  Year
68                 40         $33.47   2008
                  Film    Genre  Lead Studio  Audience score %  Profitability  \
3         When in Rome   Comedy       Disney                44            0.0
33  Our Family Wedding   Comedy  Independent                49            0.0
57           Jane Eyre  Romance    Universal                77            0.0

    Rotten Tomatoes % Worldwide Gross  Year
3                  15         $43.04   2010
33                 14         $21.37   2010
57                 85         $30.15   2011

In [16]:
# 6
df_movie = df_movie.replace({'Genre':{'Comdy':'Comedy', 'Romence':'Romance', 'romance':'Romance',
'comedy':'Comedy'}})

df_movie.groupby('Genre').count()

,Film,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
Genre,,,,,,,
Action,1,1,1,1,1,1,1
Animation,4,4,4,4,4,4,4
Comedy,43,43,43,43,43,43,43
Drama,13,13,13,13,13,13,13
Fantasy,1,1,1,1,1,1,1
Romance,15,15,15,15,15,15,15

In [25]:
# 7 Збережіть (у новий файл CSV) 10 найкращих комедій за кількістю глядачів; покажіть лише назву фільму, рік та студію
df = df_movie.sort_values('Audience score %', ascending = False)
df[:10][['Film', 'Year', 'Lead Studio', 'Audience score %']].to_csv('top10_comedy.csv', index=False)

In [ ]:
# pip install MySQL
# pip install lxml